
html,
body {
    font-family: monospace;
}

.hide {
    display: none !important;
}
.network-address, .network-address-bin, .broadcast-address, .broadcast-address-bin{
    color: orange;
}
.netmask, .netmask-bin{
    color: red;
}
.first-host-address, .first-host-address-bin{
    color: blue;
}
.last-host-address, .last-host-address-bin{
    color: purple;
}
.host-address-part{
    color: green;
}
.addresses-count{
    color:deeppink;
}